.cards-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}
.card-item {
  cursor: pointer;
  transition: 0.5s linear;

  @media screen and (max-width: 767px) {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    // margin-left: 0;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
    // margin-left: 0;
    // &:nth-child(3n+3){margin-right: 0px;}
  }
}
.card-item:hover,
.card-item:focus {
  box-shadow: 0 8px 17px 2px rgb(248 230 111 / 30%), 0px 6px 10px 4px #3f0101;
}
.card-image {
  border-radius: 6px;

  @media screen and (max-width: 767px) {
    height: 402px;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    height: 398px;
    width: 293px;
  }

  @media screen and (min-width: 1024px) {
    height: 398px;
    width: 274px;
  }
}
.movie-title {
  display: block;
  text-transform: uppercase;
  // display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: var(--font-size-main);
  font-weight: 500;
  line-height: 1.34;
}
.genre {
  display: flex;
  align-items: baseline;
  font-size: var(--font-size-main);
  font-weight: 500;
  line-height: 1.34;
  color: var(--accent-color);
}
.genre-title span {
  &:not(:last-of-type) {
    &::after {
      content: ',';
    }
  }
}

.genre span:last-child {
  min-width: 35px;
}

.genre-title {
  margin-right: 4px;
}
