.cards-list{
@media screen and (min-width: 768px){display: flex;
  flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;}
}
}
.card-item{
    @media screen and (min-width: 320px) {
         width: 280px;
         margin-right:auto;
         margin-left: auto;
     }
    @media screen and (min-width: 768px){
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 70px);
    }
    @media screen and (min-width: 1024px){
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 70px);
    }
}
.card-image{
    border-radius: 6px;
    width: 293px;
    height: 398px;
    margin-right: 0;
}
.movie-title{
    display: inline-block;
    width: 293px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: var(--font-size-main);
    font-weight: 500;
}
.genre{
    display: inline-block;
    width: 293px;
    font-size: var(--font-size-main);
    font-weight: 500;
    color: var(--accent-color);
}
