.pagination {
  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-prev {
    width: 20px;
    height: 20px;
  }
  &-next {
    width: 20px;
    height: 20px;
  }
  &-page-list {
    &>li {
      margin-left: 15px;
      margin-right: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
    height: 25px;
  }
  * {
    outline: 1px solid blue;
  }
}

.current-item {
  color: orange;
}