//🍅Сюда импортируем все из этой папки
@import './logo.scss';
@import './theme-switcher';
.header {
  height: 230px;
  @media screen and(max-width: 320px) {
    background: url(../images/header/header_m_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/header_m_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
  @media screen and (max-width: 768px) {
    background: url(../images/header/header_t_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/header_t_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
  @media screen and (min-width: 320px) {
    .s_form_input {
      display: inline-flex;
      width: 99%;
    }
    .search_pic {
      margin-left: -22px;
    }
    .search_form {
      position: relative;
    }
  }
  @media screen and (min-width: 768px) {
    .search_form {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .s_form_input {
      width: 50%;
    }
  }
  @media screen and (min-width: 769px) {
    background: url(../images/header/header_d_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/header_d_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
}
.nav_list {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-left: 39px;
  margin-top: 58px;
  margin-bottom: 41px;
}
.nav_link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.8;
  color: var(--p-dark-t-color);
  text-align: right;
  transition: 0.2s linear;

  &.current {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -7px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--accent-color);

      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &:hover,
  :focus {
    text-shadow: 0 0 5px rgb(252, 114, 1), 0 0 10px white, 0 0 15px rgba(253, 116, 3, 0.842),
      0 0 20px rgb(255, 82, 2), 0 0 35px rgb(255, 81, 1), 0 0 40px rgb(255, 82, 2),
      0 0 50px rgb(248, 81, 3), 0 0 75px rgb(250, 82, 4);
    // font-style: italic;
    // transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.nav_link:first-of-type {
  margin-right: 39px;
}
.search_btn {
  position: absolute;
  background-color: transparent;
  border: none;
  color: var(--p-dark-t-color);
}
.s_form_input {
  color: var(--p-dark-t-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--p-dark-t-color);
  &::placeholder {
    font-size: var(--font-regular);
    color: var(--p-dark-t-color);
    border-bottom: 1px solid var(--p-dark-t-color);
    margin-bottom: 4px;
    border: none;
  }
  &:focus,
  :hover {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--p-dark-t-color);
  }
}
.site_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.error_text {
  display: none;
  color: var(--p-error-t-color);
  text-align: center;
  margin-top: 22px;
}
.btn_div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.lib_btn {
  font-size: var(--font-size-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 0.75;
  height: 44px;
  background-color: transparent;
  color: var(--p-dark-t-color);
  border: 1px solid var(--p-dark-t-color);
  border-radius: 5px;
  transition: 0.2s linear;

  &:first-of-type {
    margin-right: 20px;
  }
  @media screen and (min-width: 320px) {
    width: 130px;
  }
  @media screen and (min-width: 768px) {
    width: 136px;
    &:first-of-type {
      margin-right: 15px;
    }
  }

  @media screen and(min-width: 1024px) {
    &:hover {
      letter-spacing: 0.1em;
      text-shadow: 3px 3px #ff981d, 7px 7px rgba(200, 120, 22, 0.2);
    }
  }

  &:hover {
    color: var(--p-dark-t-color);
    cursor: pointer;

    // box-shadow: 200px 0 0 0 rgba(77, 75, 75, 0.3) inset;
  }
}
.current_btn {
  color: var(--p-dark-t-color);
  background-color: var(--accent-color);
  border: transparent;

  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
.library {
  @media screen and (max-width: 320px) {
    background: url(../images/header/lib_m_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/lib_m_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    background: url(../images/header/lib_t_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/lib_t_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
  @media screen and (min-width: 769px) {
    background: url(../images/header/lib_d_x1.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    @media screen and (min-resolution: 2dppx) {
      background: url(../images/header/lib_d_x2.jpg) center/cover no-repeat rgba(0, 0, 0, 0.56);
    }
  }
}
