:root {
  --accent-color: #ff6b08;
  --h-text-color: #000000;
  --p-text-color: #545454;
  --p-dark-t-color: #ffffff;
  --p-error-t-color: #ff001b;

  //FONTS

  //Fonts: familys
  --font-family-1: 'Roboto', sans-serif;

  //Fonts: sizes
  --font-size-main: 12px;
  --font-regular: 14px;
  --font-h-size: 30px;
}

// Roboto 500 normal
