body.modal-team-open {
  overflow: hidden;
}

.team-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;

  &.is-hiddden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.5);
  }
}

.team-modal {
  text-align: center;

  padding: 40px;

  background-color: #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  min-width: 319px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1024px) {
    max-width: 500px;
  }
}

.team-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0;

  @media screen and (min-width: 1024px) {
    line-height: 1.15;
  }
}

.team-position {
  color: var(--accent-color);
  margin: 17px 0;
  padding: 0;
  line-height: 1.3;
}

.team-item {
  margin: 0 0 10px;
  padding: 0;
}

a.link {
  text-decoration: none;
  color: var(--p-text-color);
  font-size: 18px;
  line-height: 1.3;
  &:hover,
  :focus {
    /* color: rgba(255, 81, 0, 0.692);
    font-size: 18px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    text-shadow: 0 0 5px rgb(252, 114, 1), 0 0 10px white, 0 0 15px rgba(253, 116, 3, 0.842),
      0 0 20px rgb(255, 82, 2), 0 0 35px rgb(255, 81, 1), 0 0 40px rgb(255, 82, 2),
      0 0 50px rgb(248, 81, 3), 0 0 75px rgb(250, 82, 4);
    color: orangered;
  }
}

ul.team-list {
  padding: 0;
  margin: 0;
}
.modal-team-close {
  position: absolute;
  right: 10px;
  top: 10px;

  background-color: var(--p-dark-t-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  &:hover,
  :focus {
    background-color: rgb(250, 140, 15);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

.close-button-team-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
