<header class="header">
    <div class="container">
    <div class="site_nav">
        <a href="./" aria-label="логотип сайта" class="logo-link">
    <svg class="logo-pic" fill="#545454">
        <use href="./images/svg/sprite.svg#icon-film"></use>
    </svg><span lang="en" class="logo-text">Filmoteka</span></a>
    <nav class="nav_list">
    <a href="#" class="nav_link current">HOME</a>
    <a href="./library.html" class="nav_link">MY LIBRARY</a>
    </nav>
    </div>
   <form action="search" class="search_form">
       <input type="text" placeholder="Поиск фильмов" class="s_form_input js_search_input">
       <div class="live-search-wrapper"></div>
       <span class="search_pic"><svg width="20px" height="20px"><use href="./images/svg/sprite.svg#icon-search-2-1"></use></svg></span>
       <div class="card-list"></div>
    <p class="error_text">Search result not successful. Enter the correct movie name and</p>
   </form>
   <include src="./partials/theme-switcher.html"></include>
</div>
</header>

