<header>
    <div class="container header">
    <div class="site_nav">
        <a href="./" aria-label="логотип сайта" class="logo-link">
    <svg class="logo-pic" fill="#545454">
        <use href="./images/svg/sprite.svg#icon-film"></use>
    </svg><span lang="en" class="logo-text">Filmoteka</span></a>
    <nav class="nav_list">
    <a href="#" class="nav_link current">HOME</a>
    <a href="./library.html" class="nav_link">MY LIBRARY</a>
    </nav>
    </div>
   <form action="search">
       <input type="text" placeholder="Поиск фильмов" class="s_form_input js_search_input">
       <button type="button" class="search_btn"><span><svg class="search_pic">
        <use href="./images/svg/sprite.svg#icon-search-2-1"></use>
    </svg></span></button>
    <p class="error_text">Search result not successful. Enter the correct movie name and</p>
   </form>
</div>
</header>

