<section class="pagination">
    <div class="pagination-nav">
        <div class="pagination-prev"></div>
        <ul class="pagination-page-list">
            <li class="pagination-item item-1" data-page=''></li>
            <li class="pagination-dots item-dots-first" hidden>...</li>
            <li class="pagination-item item-2" data-page=''></li>
            <li class="pagination-item item-3" data-page=''></li>
            <li class="pagination-item item-center" data-page=''></li>
            <li class="pagination-item item-5" data-page=''></li>
            <li class="pagination-item item-6" data-page=''></li>
            <li class="pagination-dots item-dots-last">...</li>
            <li class="pagination-item item-total" data-page=''></li>
        </ul>
        <div class="pagination-next"></div>
    </div>
</section>


<!-- <section class="pagination-section">
    <ul class="pagination">
        <li class="pagination-page previous">
            <a id=previous-link class="pagination-link" href="#">
            &#8592;
            </a>
        </li>

        Сюда динамически добавляем <li> с номерами страниц -->
<!-- 
        <li class="pagination-page next">
            <a id=next-link class="pagination-link" href="#">
                &#8594;
            </a>
        </li>
    </ul>
</section> -->