<section class="pagination-section">
    <ul class="pagination">
        <li class="pagination-page previous">
            <a id=previous-link class="pagination-link" href="#">
            <svg class="icon-previous" width="40" height="40">
              <use href="./images/svg/sprite.svg#icon-Previous"> </use>
            </svg>
            </a>
        </li>

        <!-- Сюда динамически добавляем <li> с номерами страниц -->

        <li class="pagination-page next">
            <a id=next-link class="pagination-link" href="#">
                <svg class="icon-next" width="40" height="40">
                    <use href="./images/svg/sprite.svg#icon-Next"> </use>
                </svg>
            </a>
        </li>
    </ul>
</section>