<div class="team-backdrop is-hiddden js-team-modal">
    <div class="team-modal">
        <h2 class="team-title">Team Developers</h2>
        <h3 class="team-position">Team Leader</h3>
        <p class="team-item">
            <a class="link" href="https://github.com/EvgeniyKravchuk" target="_blank">Evgeniy Kravchuk</a>
        </p>
        <h3 class="team-position">Scrum Master</h3>
        <p class="team-item">
            <a class="link" href="https://github.com/Elena-Marchenko" target="_blank">Elena Marchenko</a>
        </p>
        <h3 class="team-position">Developers</h3>
        <ul class="team-list standart-ul">
            <li class="team-item">
                <a class="link" href="https://github.com/Jakkanda" target="_blank">Svitlana Trush</a>
            </li>
            <li class="team-item">
                <a class="link" href="https://github.com/IuliiaKalenyk" target="_blank">Iuliia Kalenyk</a>
            </li>
            <li class="team-item">
                <a class="link" href="https://github.com/Viktoriia-Kostiuk" target="_blank">Viktoriia Kostiuk</a>
            </li>
            <li class="team-item">
                <a class="link" href="https://github.com/Nikita-Turov" target="_blank">Nikita Turov</a>
            </li>
            <li class="team-item">
                <a class="link" href="https://github.com/StoliarskyiKostiantyn" target="_blank">Kostiantyn Stoliarskyi</a>
            </li>
        </ul>
    </div>
</div>